<launch>
    <!-- Load configuration files -->
    <include file="$(find youbot_main_ai)/launch/main_ai_config_only.launch" />
    <include file="$(find youbot_navigation_ai_re)/launch/navigation_ai_re_config_only.launch" />
    <include file="$(find youbot_manipulation_ai_re)/launch/manipulation_ai_config_only.launch" />
    <include file="$(find youbot_transportation_ai)/launch/transportation_ai_config_only.launch" />
    <include file="$(find youbot_scanner_alignment)/launch/scanner_alignment_action_server.launch" />
    <group ns="youbot_manipulation_ai">
    	<rosparam file="$(find youbot_conveyorbelt_ai)/config/misc.yaml" command="load" />
    </group>
    <node pkg="youbot_conveyorbelt_ai" type="youbot_conveyorbelt_ai.py" name="youbot_conveyorbelt_ai" output="screen">
    </node>
    <node required="true" pkg="youbot_scanner_lines" type="YoubotScannerLines" name="YoubotScannerLines" output="screen">
    </node>
    <node required="true" pkg="youbot_scanner_lines" type="YoubotScannerLinesFilter" name="YoubotScannerLinesFilter" output="screen">
    </node>
</launch>
