<launch>
    <node pkg="youbot_manipulation_ai_re" type="youbot_manipulation_ai_re.py" name="youbot_manipulation_ai_re" output="screen">

        <!-- Load configuration files -->
        <rosparam file="$(find youbot_manipulation_ai_re)/config/service_areas.yaml" command="load" />
        <rosparam file="$(find youbot_manipulation_ai_re)/config/misc.yaml" command="load" />
        <rosparam file="$(find youbot_manipulation_ai_re)/config/objects.yaml" command="load" />
        <rosparam file="$(find youbot_manipulation_ai_re)/config/camera.yaml" command="load" />
    </node>
</launch>
